<section class="blade blade--get-started">
	<div class="container">
		<div>
			<h1>{{ site.destination-page[page.language] }}</h1>
		</div>
		<div class="tablet-up">
			<div class="card-container">
				{% for item in site.data-destination-fr limit:3 %}
				<div class="card">
					<div class="card__image">
						<amp-img
						noloading
						height={{ item.gambar_height_fr }}
						width={{ item.gambar_width_fr }}
						layout=responsive
						src="{{ item.image_path_fr }}">
						</amp-img>
					</div>
					<div class="card__content">
						<h4 class="card__title">{{ item.card-title_fr }}</h4>
						<p>{{ item.content-card_fr }}</p>
					</div>
					<div class="card__action">
						<a href="{{ item.card-action-link_fr }}">{{ item.card-action_fr }}</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<amp-carousel class="tablet-down"
		width="auto"
		height="515"
		type="slides"
		layout="fixed-height">
		{% for item in site.data-destination-fr %}
		<div class="carding">
			<div class="card__image">
				<amp-img
					noloading
					height="{{ item.gambar_height_fr }}"
					width="{{ item.gambar_width_fr }}"
					layout="responsive"
					src="{{ item.image_path_fr }}">
				</amp-img>
			</div>
			<div class="card__content">
				<h4 class="card__title">{{ item.card-title_fr }}</h4>
				<p>{{ item.content-card_fr }}</p>
			</div>
			<div class="card__action">
				<a href="{{ item.card-action-link }}">{{ item.card-action_fr }}</a>
			</div>
		</div>
		{% endfor %}
		</amp-carousel>
	</div>
</section>