<footer>
  <div class="container">
    <div class="twelve columns">
      <a href="{{ site.whatsapp-api }}">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/whatsapp-symbol.svg">
        </amp-img>
      </a>
      <a href="sms:{{ site.telephone }}">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/sms-black.svg">
        </amp-img>
      </a>
      <a href="tel:{{ site.telephone }}">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/phones-symbol.svg">
        </amp-img>
      </a>
      <!-- <a href="https://www.facebook.com/{{ site.facebook }}">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/facebook-icon.svg">
        </amp-img>
      </a> -->
      <!-- <a href="https://www.instagram.com/{{ site.instagram }}">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/instagram-logo.png">
        </amp-img>
      </a> -->
      <a href="https://klikada.com">
        <amp-img
        noloading
        height=30
        width=30
        layout=fixed
        src="/static/img/klikadadotcom.svg">
        </amp-img>
      </a>
    </div>
  </div>
</footer>
