<section class="blade blade--blog">
  <div class="container">
    <div>
        <h1 class="blog__section-title">{{ site.map-page[page.language] }}</h1>
    </div>
    <div class="blog">
      <!-- #### Google Maps -->
      <!--
        Embedding Google Maps is possible via the [Google Maps Embed API](https://developers.google.com/maps/documentation/embed/guide) and requires an [API Key](https://developers.google.com/maps/documentation/embed/guide#api_key).
        -->
        <amp-iframe width="600" height="250"
                    layout="responsive"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    frameborder="0"
                    src="https://www.google.com/maps/d/embed?mid=136YqYYLKJBl3F8ZXF_jb545hsVo">
        </amp-iframe>
    </div>
  </div>
</section>