<section class="blade blade--blog">
  <div class="container">
    <div>
        <h1 class="blog__section-title">{{ site.map-page[page.language] }}</h1>
    </div>
    <div class="blog">
        <amp-iframe width="600" height="250"
                    layout="responsive"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    frameborder="0"
                    src="https://www.google.com/maps/d/embed?mid=136YqYYLKJBl3F8ZXF_jb545hsVo">
        </amp-iframe>
    </div>
  </div>
</section>
