<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta property="og:description" content="{{ site.description[page.language] }}">
<meta name="description" content="{{ site.description[page.language] }}">
<meta name="google-site-verification" content="0vrmfF0PUl6ZYskcSmi7cSDUdxs4jS5PswNISqe7k6Y" />
<!-- SCHEMA -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "{{ site.siteurl }}",
  "logo": "{{ site.siteurl }}{{ site.favicon }}",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "{{ site.telephonedetail }}",
    "contactType": "customer service"
  }]
}
</script>
<!-- Open Graph Protocol -->
{% if page.layout contains "home-en" %}
	<meta property="og:url" content="{{ baseurl }}/index.html">
{% else %}
	<meta property="og:url" content="{{ page.url }}/index.html">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.name[page.language] }}">
<meta property="og:description" content="{{ site.description[page.language] }}">
<meta property="og:image" content="{{ site.siteurl }}{{ site.photos }}">
<meta property="fb:app_id" content="{{ site.fb_app_id }}">
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twittersite }}">
<meta name="twitter:creator" content="@{{ site.author }}">
<meta name="twitter:title" content="{{ page.title }} | {{ site.name[page.language] }}">
<meta name="twitter:description" content="{{ site.description[page.language] }}">
<meta name="twitter:image" content="{{ site.siteurl }}{{ site.photos }}">
